<form name="userForm">
    <div ng-controller="UsersController">
        <section class="Users  title" style="">
            <div class="row first">
                <div class=" col-12" ng-show="addClicked" id="user-save-btns">
                    <h2> <i class="fa fa-user"> </i><span></span><strong> Add  User</strong></h2>
                    <ul class="buttons">
                        <li class="hoverMsg">
                            <button class="submit" type="button" ng-click="addClicked;saveUser(newUser)" ng-disabled="userForm.$invalid"><i class="fa fa-check"> </i><span>Save</span></button>
                            <span ng-if="userForm.$invalid" class="tooltiptext">Please fill all fields {{newUser.userName}}</span>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()"><i class="fa fa-remove" > </i> <span>Cancel</span></button>
                        </li>
                    </ul>
                </div>
                <div class=" col-12" style="display: block;" ng-hide="addClicked" id="user-add-btns">
                    <h2> <i class="fa fa-user"> </i><span></span><strong> Users</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" ng-show="isAddAvailable()" type="button" ng-click="addNewUser();
                            userForm.userName.$touched=false;
                            userForm.fname.$touched=false;
                            userForm.lname.$touched=false;
                            userForm.date.$touched=false;
                            userForm.userMobileNum.$touched=false;
                            userForm.userAadharNum.$touched=false;
                            userForm.usertype.$touched=false;
                            userForm.userStatus.$touched=false;
                            userForm.userPassword.$touched=false;
                            userForm.rePassword.$touched=false;"><i class="fa fa-plus"> </i> <span>Add</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="Users">
            <div class="container">
                <div ng-show="addClicked" id="addUser">
                    <div ng-show="addClicked" class="row" style="padding-left: 15px;"> <span class="mandatory-fields"> *</span> Fields are mandatory.</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>User Name </label> -->
                                        <span class="mandatory-fields"> <label>User Name</label>*</span>
                                        <input class="form-control" ng-model="newUser.userName" name="userName" value="" size="35" data-error="Required" required="" type="text" ng-pattern="/^[a-zA-Z]*$/">
                                        <span ng-show="userForm.userName.$touched && userForm.userName.$invalid" class="input-field-errors">User name is required. Enter only alphabets</span>
                                        <span ng-if="errorMessageUserName" class="input-field-errors">User name already exist!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-6">
                                    <div class="form-group ">
                                        <!-- <label>First Name </label> -->
                                        <span class="mandatory-fields"> <label>First Name </label>*</span>
                                        <input class="form-control" ng-model="newUser.userFirstName" name="fname" value="" size="35" data-error="Required" required="" type="text">
                                        <span ng-show="userForm.fname.$touched && userForm.fname.$invalid" class="input-field-errors">First name is required.</span>

                                    </div>
                                </div>
                                <div class=" col-12 col-sm-6">
                                    <div class="form-group lname">
                                        <!-- <label>Last Name </label> -->
                                        <span class="mandatory-fields"> <label>Last Name </label>*</span>
                                        <input class="form-control lname" ng-model="newUser.userLastName" name="lname" value="" size="35" data-error="Required" required="" type="text">
                                        <span ng-show="userForm.lname.$touched && userForm.lname.$invalid" class="input-field-errors">Last name is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="row nobdr">
                                <div class=" col-12 col-sm-6">
                                    <div class="form-group  my-datepicker">
                                        <!-- <label>Date of Birth </label> -->
                                        <span class="mandatory-fields"> <label>Date of Birth </label>*</span>
                                        <input size="20" class="form-control date" uib-datepicker-popup="{{format}}" ng-click="openDatePicker = true" is-open="openDatePicker" datepicker-options="options" ng-model="newUser.userDOB" close-text="Close" name="date" value="" required type="text">
                                        <span ng-show="userForm.date.$touched && userForm.date.$invalid" class="input-field-errors">Please enter valid date(yyyy-mm-dd).</span>
                                    </div>
                                </div>
                                <div class=" col-12 col-sm-6">
                                    <div class="form-group hph">
                                        <!-- <label> Mobile Number</label> -->
                                        <span class="mandatory-fields"> <label>Mobile Number</label>*</span>
                                        <input size="20" class="form-control" ng-model="newUser.userMobileNum" maxlength="10" name="userMobileNum" value="" required type="text" ng-pattern="/^[1-9]{1}[0-9]{9}$/ ">
                                        <span ng-show="userForm.userMobileNum.$touched && userForm.userMobileNum.$invalid && !userForm.userMobileNum.$error.pattern" class="input-field-errors">Please enter 10 digit  mobile number.</span></br>
                                        <span ng-show="userForm.userMobileNum.$error.pattern" class="input-field-errors">Invalid Mobile Number</span></br>

                                        <!--   <input class="form-control p1" name="name" value=" " type="text">
                                    <input class="form-control p2" name="name" value=" " type="text">
                                    <input class="form-control p3" name="name" value=" " type="text"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Aadhaar No</label> -->
                                        <span class="mandatory-fields"> <label>Aadhaar No</label>*</span>
                                        <input class="form-control " ng-model="newUser.userAadharNum" name="userAadharNum" value="" size="35" maxlength="12" data-error="Required" required="" type="text" ng-pattern="/^[0-9]{12}$/ ">
                                        <span ng-show="userForm.userAadharNum.$touched && userForm.userAadharNum.$invalid" class="input-field-errors">Please enter Aadhar number.</span>
                                        </br><span ng-show="userForm.userAadharNum.$error.pattern" class="input-field-errors">Invalid Aadhar Number</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>User Type</label> -->
                                        <span class="mandatory-fields"> <label>User Type</label>*</span>
                                        <select name="usertype" ng-model="newUser.userType[0]" class="form-control" required ng-options="item for item in dropDownValues.UserTypes">
                                            <option value="">Select User Type</option>
                                        </select>
                                        <span ng-show="userForm.usertype.$touched && userForm.usertype.$invalid" class="input-field-errors">User type is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Status </label> -->
                                        <span class="mandatory-fields"> <label>Status </label>*</span>
                                        <select name="userStatus" ng-model="newUser.userStatus" class="form-control" required ng-options="item for item in dropDownValues.UserStatus">
                                            <option value="">Select Status</option>
                                        </select>
                                        <span ng-show="userForm.userStatus.$touched && userForm.userStatus.$invalid" class="input-field-errors">User Status is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Password </label> -->
                                        <span class="mandatory-fields"> <label>Password </label>*</span>
                                        <input class="form-control " ng-model="newUser.userPassword" name="userPassword" value="" size="35" data-error="Required" required="" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                                        <span ng-show="userForm.userPassword.$touched && userForm.userPassword.$invalid" class="input-field-errors">Password should be atleast 8 characters long and should contain one number,one character and one special character.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Confirm Password </label> -->
                                        <span class="mandatory-fields"> <label>Confirm Password  </label>*</span>
                                        <input id="myPassword" class="form-control " ng-model="newUser.rePassword" name="rePassword" value="" size="35" data-error="Required" required="" type="password" ng-blur="myFunction()">
                                        <span id="eye" class="glyphicon glyphicon-eye-open seePwd" ng-click="toggle_password()">
                                             <!-- <span ng-if="newUser.rePassword" class="tooltiptext">{{newUser.rePassword}}</span> --> </span>

                                    </div>
                                    <span ng-show="userForm.rePassword.$touched && userForm.rePassword.$invalid" class="input-field-errors">Please confirm password.</span>
                                    <span ng-if="isPasswordSame()" class="input-field-errors">Passwords do not match.</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                        <div class="grid-list">
                            <div class="table-responsive">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 select-div">
                                        <label>Show
                                        <select ng-model="viewby" convert-to-number ng-change="setItemsPerPage(viewby)" class="form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries
                                    </label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 search-div">
                                        <label>Search:<input type="search" class="form-control form-control-sm" ng-model="usersSearchKey" placeholder=""></label>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered dataTable" data-toggle="table">
                                    <thead>
                                        <tr>
                                            <th class="sorting" ng-click="orderByField='userName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userName') && !reverseSort, 'sorting_desc': (orderByField == 'userName') && reverseSort}">User Name</th>
                                            <th class="sorting" ng-click="orderByField='userFirstName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userFirstName') && !reverseSort, 'sorting_desc': (orderByField == 'userFirstName') && reverseSort}">First Name</th>
                                            <th class="sorting" ng-click="orderByField='userLastName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userLastName') && !reverseSort, 'sorting_desc': (orderByField == 'userLastName') && reverseSort}">Last Name</th>
                                            <th class="sorting" ng-click="orderByField='userDOB'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userDOB') && !reverseSort, 'sorting_desc': (orderByField == 'userDOB') && reverseSort}">Date of Birth</th>
                                            <th class="sorting" ng-click="orderByField='userAadharNum'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userAadharNum') && !reverseSort, 'sorting_desc': (orderByField == 'userAadharNum') && reverseSort}">Aadhaar No</th>
                                            <th class="sorting" ng-click="orderByField='userMobileNum'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userMobileNum') && !reverseSort, 'sorting_desc': (orderByField == 'userMobileNum') && reverseSort}">Mobile Number</th>
                                            <th class="sorting" ng-click="orderByField='userType'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userType') && !reverseSort, 'sorting_desc': (orderByField == 'userType') && reverseSort}">User Type</th>
                                            <th class="sorting" ng-click="orderByField='userStatus'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'userStatus') && !reverseSort, 'sorting_desc': (orderByField == 'userStatus') && reverseSort}">Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in (usersList | orderBy: orderByField: reverseSort | search: usersSearchKey: 'users').slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td class="center">{{item.userName}}<br></td>
                                            <td class="center">{{item.userFirstName}} <br></td>
                                            <td class="center">{{item.userLastName}}</td>
                                            <td class="center">{{item.userDOB}}</td>
                                            <td class="center">{{item.userAadharNum}}</td>
                                            <td class="center">{{item.userMobileNum}}</td>
                                            <td class="center">{{item.userType[0]}}</td>
                                            <td class="center">{{item.userStatus}} </td>
                                            <td class="center">
                                                <button ng-disabled="!item.userEditFlag" class="btn btn-primary  edit-delete-icon" title="Change" ng-click="openEditModal('ls', item)"><span class="glyphicon glyphicon-edit"></span></button>
                                                <button ng-disabled="!item.userEditFlag" class="btn btn-danger edit-delete-icon" title="Delete" ng-click="deleteUser(item)"><span class="glyphicon glyphicon-trash"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p style="margin-top: 7px;">Showing {{((usersList | search:usersSearchKey:'users').length == 0 )? 0:((currentPage-1) * itemsPerPage)+1}} to {{(currentPage * itemsPerPage > ((usersList | search:usersSearchKey:'users').length))? ((usersList
                                            | search:usersSearchKey:'users').length) : currentPage * itemsPerPage}} 0f {{(usersList | search:usersSearchKey:'users').length }} entries <span ng-show="usersSearchKey.length > 0">(filtered from {{usersList.length}} total entries)</span></p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>