<form name="locationsForm">
    <div ng-controller="LocationsController">
        <section class="Locations title" style="">
            <div class="row first">
                <div class="col-12" ng-show="addClicked" id="location-save-btns">
                    <h2> <i class="fa fa-map-marker"> </i><span></span><strong> Add  Location</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-click="addClicked;saveLocation(newLocation)" ng-disabled="locationsForm.$invalid"><i class="fa fa-check"> </i> <span>Save</span></button>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()"><i class="fa fa-remove"> </i> <span>Cancel</span></button>
                        </li>
                    </ul>
                </div>
                <div class=" col-12" style="display: block;" ng-hide="addClicked" id="location-add-btns">
                    <h2> <i class="fa fa-map-marker"> </i><span></span><strong> Locations</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-show="isAddAvailable()" ng-click="addNewLocation(); 
                            addClicked;
                            locationsForm.locationName.$touched=false;
                            locationsForm.locationCode.$touched=false;
                            locationsForm.address.$touched=false;
                            locationsForm.status.$touched=false;
                            "><i class="fa fa-plus"> </i> <span>Add</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="Locations">
            <div class="container">
                <div ng-show="addClicked" id="addLocation">
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ltn">
                                <div class="form-group ">
                                    <label>Location Name </label>
                                    <input class="form-control " name="locationName" ng-model="newLocation.locationName" value="" size="35" data-error="Required"
                                        required="" type="text">
                                    <span ng-show="locationsForm.locationName.$touched && locationsForm.locationName.$invalid" class="input-field-errors">Location name is required.</span>
                                    <span ng-if="errorMessageLocationName" class="input-field-errors">Location name Already Exist!</span>
                                </div>
                            </div>
                            <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 ltn">
                                <div class="form-group ">
                                    <label>Location Code </label>
                                    <input class="form-control " name="locationCode" ng-model="newLocation.locationCode" value="" size="35" data-error="Required"
                                        required="" type="text">
                                    <span ng-show="locationsForm.locationCode.$touched && locationsForm.locationCode.$invalid" class="input-field-errors">Location code is required.</span>
                                    <span ng-if="errorMessagelocationCode" class="input-field-errors">Location code  Already Exist!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <label>Address</label>
                                <input class="form-control " name="address" ng-model="newLocation.locationAddress" value="" size="35" data-error="Required"
                                    required="" type="text">
                                <span ng-show="locationsForm.address.$touched && locationsForm.address.$invalid" class="input-field-errors">Location address is required.</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group lname">
                                <label>Operational Status </label>
                                <!-- <select name="status" class="form-control  ">
                                <option>Select </option>
                                <option>Active</option>
                                <option>Inactive</option>
                            </select> -->
                                <select name="status" ng-init="newLocation.status = dropDownValues.status[0]" ng-model="newLocation.operationalStatus" class="form-control"
                                    required ng-options="item for item in dropDownValues.status">
                                        <option>Select status</option>
                                    </select>
                                <span ng-show="locationsForm.status.$touched && locationsForm.status.$invalid" class="input-field-errors">Location status is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                        <div class="grid-list">
                            <div class="table-responsive">
                                <table width="100%" class="table table-bordered" data-toggle="table">
                                    <thead>
                                        <tr>
                                            <th>Location Name</th>
                                            <th>Location Code</th>
                                            <th>Address</th>
                                            <th>Operational Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="location in (locationList | orderBy:sortByKey:sortReverse | filter:baySearchKey).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td class="center">{{location.locationName}}</td>
                                            <td class="center">{{location.locationCode}}</td>
                                            <td class="center">{{location.locationAddress}}</td>
                                            <td class="center">{{location.operationalStatus}}</td>
                                            <td class="center"><a href="#" class="btn btn-primary" title="Change"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p style="margin-top: 7px;">Showing {{((currentPage-1) * itemsPerPage)+1}} to {{(currentPage * itemsPerPage >
                                            totalItems)? totalItems : currentPage * itemsPerPage}} 0f {{totalItems}} entries</p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" items-per-page="itemsPerPage"
                                            boundary-link-numbers="true" rotate="false"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>