<form name="locationsForm">
    <div ng-controller="LocationsController">
        <section class="Locations title" style="">
            <div class="row first">
                <div class="col-12" ng-show="addClicked" id="location-save-btns">
                    <h2>
                        <i class="fa fa-map-marker"> </i>
                        <span></span>
                        <strong> Add Location</strong>
                    </h2>
                    <ul class="buttons">
                        <li class="hoverMsg">
                            <button class="submit" type="button" ng-click="saveLocation(newLocation)" ng-disabled="locationsForm.$invalid">
                                <i class="fa fa-check"> </i>
                                <span>Save</span>
                            </button>
                            <span ng-if="locationsForm.$invalid" class="tooltiptext">Please fill all fields</span>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()">
                                <i class="fa fa-remove"> </i>
                                <span>Cancel</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class=" col-12" style="display: block;" ng-hide="addClicked" id="location-add-btns">
                    <h2>
                        <i class="fa fa-map-marker"> </i>
                        <span></span>
                        <strong> Locations</strong>
                    </h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-show="isAddAvailable()" ng-click="addNewLocation(); 
                            addClicked;
                            locationsForm.locationName.$touched=false;
                            locationsForm.locationCode.$touched=false;
                            locationsForm.address.$touched=false;
                            locationsForm.state.$touched=false;
                            locationsForm.city.$touched=false;
                            locationsForm.pinCode.$touched=false;
                            locationsForm.status.$touched=false;
                            ">
                                <i class="fa fa-plus"> </i>
                                <span>Add</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="Locations">
            <div class="container">
                <div ng-show="addClicked" id="addLocation">
                    <div ng-show="addClicked" class="row" style="padding-left: 15px;">
                        <span class="mandatory-fields"> *</span> Fields are mandatory.</div>
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4" style="padding-left: 0px;">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ltn">
                                <div class="form-group ">
                                    <!-- <label>Location Name </label> -->
                                    <span class="mandatory-fields">
                                        <label>Location Name</label>*</span>
                                    <input class="form-control " name="locationName" ng-model="newLocation.locationName" value="" size="35" data-error="Required"
                                        required="" type="text">
                                    <span ng-show="locationsForm.locationName.$touched && locationsForm.locationName.$invalid" class="input-field-errors">Location name is required.</span>
                                    <span ng-if="errorMessageLocationName" class="input-field-errors">Location name Already Exist!</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ltn">
                                <div class="form-group ">
                                    <!-- <label>Location Code </label> -->
                                    <span class="mandatory-fields">
                                        <label>Location Code</label>*</span>
                                    <input class="form-control " name="locationCode" ng-model="newLocation.locationCode" value="" size="35" data-error="Required"
                                        required="" type="text" ng-pattern="/^(0|[1-9][0-9]*)$/">
                                    <span ng-show="locationsForm.locationCode.$touched && locationsForm.locationCode.$invalid && !locationsForm.locationCode.$error.pattern"
                                        class="input-field-errors">Location code is required.</span>
                                    <span ng-if="errorMessagelocationCode" class="input-field-errors">Location code Already Exist!</span>
                                    <span ng-show="locationsForm.locationCode.$error.pattern" class="input-field-errors">Location code should be numbers only</span>
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <!-- <label>Address</label> -->
                                <span class="mandatory-fields">
                                    <label>Address </label>*</span>
                                <input class="form-control " name="address" ng-model="newLocation.locationAddress" value="" size="35" data-error="Required"
                                    required="" type="text">
                                <span ng-show="locationsForm.address.$touched && locationsForm.address.$invalid" class="input-field-errors">Location address is required.</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group lname">
                                <!-- <label>State </label> -->
                                <span class="mandatory-fields">
                                    <label>State</label>*</span>
                                <select name="state" ng-model="newLocation.state" class="form-control" required ng-options="item for item in dropDownValues.states | orderBy">
                                    <option value="">Select State</option>
                                </select>
                                <span ng-show="locationsForm.state.$touched && locationsForm.state.$invalid" class="input-field-errors">Location State is required.</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group lname">
                                <span class="mandatory-fields">
                                    <label>City</label>*</span>
                                <input class="form-control " name="city" ng-model="newLocation.city" value="" size="35" data-error="Required" required=""
                                    type="text">
                                <span ng-show="locationsForm.city.$touched && locationsForm.city.$invalid" class="input-field-errors">Location City is required.</span>
                            </div>
                        </div>

                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group lname">
                                <span class="mandatory-fields">
                                    <label>Pin code</label>*</span>
                                <input class="form-control " name="pinCode" ng-model="newLocation.pinCode" value="" size="35" data-error="Required" required=""
                                    type="text" ng-pattern="/^(0|[1-9][0-9]*){6,6}$/" maxlength="6">
                                <span ng-show="locationsForm.pinCode.$touched && locationsForm.pinCode.$invalid && !locationsForm.pinCode.$error.pattern"
                                    class="input-field-errors">Location Pin code is required.</span>
                                <span ng-show="locationsForm.pinCode.$error.pattern" class="input-field-errors">Location Pin code should be six numbers</span>
                                </br>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group lname">
                                <!-- <label>Operational Status </label> -->
                                <span class="mandatory-fields">
                                    <label>Operational Status </label>*</span>
                                <select name="status" ng-model="newLocation.operationalStatus" class="form-control" required ng-options="item for item in dropDownValues.status">
                                    <option value="">Select</option>
                                </select>
                                <span ng-show="locationsForm.status.$touched && locationsForm.status.$invalid" class="input-field-errors">Operational status is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                        <div class="grid-list">
                            <div class="table-responsive">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 select-div">
                                        <label>Show
                                            <select ng-model="viewby" convert-to-number ng-change="setItemsPerPage(viewby)" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            entries
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 search-div">
                                        <label>Search:
                                            <input type="search" class="form-control form-control-sm" ng-model="locationsSearchKey" placeholder="">
                                        </label>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered dataTable" data-toggle="table">
                                    <thead>
                                        <tr>
                                            <th class="sorting" ng-click="orderByField='locationName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'locationName') && !reverseSort, 'sorting_desc': (orderByField == 'locationName') && reverseSort}">Location Name</th>
                                            <th class="sorting" ng-click="orderByField='locationCode'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'locationCode') && !reverseSort, 'sorting_desc': (orderByField == 'locationCode') && reverseSort}">Location Code</th>
                                            <th class="sorting" ng-click="orderByField='locationAddress'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'locationAddress') && !reverseSort, 'sorting_desc': (orderByField == 'locationAddress') && reverseSort}">Address</th>
                                            <th class="sorting" ng-click="orderByField='state'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'state') && !reverseSort, 'sorting_desc': (orderByField == 'state') && reverseSort}">State</th>
                                            <th class="sorting" ng-click="orderByField='city'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'city') && !reverseSort, 'sorting_desc': (orderByField == 'city') && reverseSort}">City</th>
                                            <th class="sorting" ng-click="orderByField='pinCode'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'pinCode') && !reverseSort, 'sorting_desc': (orderByField == 'pinCode') && reverseSort}">Pin Code</th>
                                            <th class="sorting" ng-click="orderByField='operationalStatus'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'operationalStatus') && !reverseSort, 'sorting_desc': (orderByField == 'operationalStatus') && reverseSort}">Operational Status</th>
                                            <th class="sorting" ng-click="orderByField='createdBy'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'createdBy') && !reverseSort, 'sorting_desc': (orderByField == 'createdBy') && reverseSort}">Created By</th>
                                            <th class="sorting" ng-click="orderByField='createdOn'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'createdOn') && !reverseSort, 'sorting_desc': (orderByField == 'createdOn') && reverseSort}">Created On</th>
                                            <th class="sorting" ng-click="orderByField='updatedBy'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'updatedBy') && !reverseSort, 'sorting_desc': (orderByField == 'updatedBy') && reverseSort}">Updated By</th>
                                            <th class="sorting" ng-click="orderByField='updatedOn'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'updatedOn') && !reverseSort, 'sorting_desc': (orderByField == 'updatedOn') && reverseSort}">Updated On</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="location in (locationList | orderBy: orderByField: reverseSort | search:locationsSearchKey:'locations').slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td class="center">{{location.locationName}}</td>
                                            <td class="center">{{location.locationCode}}</td>
                                            <td class="center">{{location.locationAddress}}</td>
                                            <td class="center">{{location.state}}</td>
                                            <td class="center">{{location.city}}</td>
                                            <td class="center">{{location.pinCode}}</td>
                                            <td class="center">{{location.operationalStatus}}</td>
                                            <td class="center">{{location.locationCreatedBy}}</td>
                                            <td class="center">{{location.locationCreatedOn}}</td>
                                            <td class="center">{{location.locationUpdatedBy}}</td>
                                            <td class="center">{{location.locationUpdatedOn}}</td>
                                            <td class="center">
                                                <a class="btn btn-primary" ng-click="openEditModal('lg', location)" title="Change">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p style="margin-top: 7px;">Showing {{((locationList | search:locationsSearchKey:'locations').length == 0 )?
                                            0:((currentPage-1) * itemsPerPage)+1}} to {{(currentPage * itemsPerPage > ((locationList
                                            | search: locationsSearchKey: 'locations').length))? ((locationList | search:
                                            locationsSearchKey: 'locations').length) : currentPage * itemsPerPage}} 0f {{(locationList
                                            | search: locationsSearchKey: 'locations').length }} entries
                                            <span ng-show="locationsSearchKey.length > 0">(filtered from {{locationList.length}} total entries)</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" items-per-page="itemsPerPage"
                                            boundary-link-numbers="true" rotate="false"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>