<form name="quantityForm">
    <div ng-controller="QuantController">
        <section class="Quantity title" style="">
            <div class="row first">
                <div class="col-12" ng-show="addClicked" id="quantity-save-btns">
                    <h2> <i class="fa fa-map-marker"> </i><span></span><strong> Add  Quantity</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-click="addClicked; saveQuantity(newQuantity)" ng-disabled="quantityForm.$invalid"><i class="fa fa-check"> </i> <span>Save</span></button>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()"> </i> <span>Cancel</span></button>
                        </li>
                    </ul>
                </div>
                <div class=" col-12" style="display: block;" ng-hide="addClicked" id="quantity-add-btns">
                    <h2> <i class="fa fa-map-marker"> </i><span></span><strong> Quantity</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-show="isAddAvailable()" ng-click="addNewQuantity(); 
                            addClicked;
                            quantityForm.name.$touched=false;
                            quantityForm.quantity.$touched=false;
                            quantityForm.status.$touched=false;"><i class="fa fa-plus"> </i> <span>Add</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="Quantity">
            <div class="container">
                <div ng-show="addClicked" id="addQuantity">
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <label>Quantity Name </label>
                                <input class="form-control " name="name" value="" ng-model="newQuantity.quantityName" size="35" data-error="Required" required=""
                                    type="text">
                                <span ng-show="quantityForm.name.$touched && quantityForm.name.$invalid" class="input-field-errors">Quantity name is required.</span>
                                <span ng-if="errorMessageQuantityName" class="input-field-errors">Quantity name Already Exist!</span></div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <label>Quantity (MT)  </label>
                                <input class="form-control" name="quantity" value="" size="35" ng-model="newQuantity.quantity" data-error="Required" required=""
                                    type="text">
                                <span ng-show="quantityForm.quantity.$touched && quantityForm.quantity.$invalid" class="input-field-errors">Quantity  is required.</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group lname">
                                <label>Operational Status </label>
                                <select name="status" ng-model="newQuantity.operationalStatus"
                                    class="form-control" required ng-options="item for item in dropDownValues.status">
                                <option value="">Select</option>
                            </select>
                                <span ng-show="quantityForm.status.$touched && quantityForm.status.$invalid" class="input-field-errors">Status  is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                    <div class="grid-list">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 select-div">
                                    <label>Show
                                    <select ng-model="viewby" convert-to-number ng-change="setItemsPerPage(viewby)" class="form-control form-control-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    entries
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-6 search-div">
                                    <label>Search:<input type="search" class="form-control form-control-sm" ng-model="quantitySearchKey" placeholder=""></label>
                                </div>
                            </div>
                            <table width="100%" class="table table-bordered dataTable">
                                <thead>
                                    <tr>
                                        <th class="sorting" ng-click="orderByField='quantityName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'quantityName') && !reverseSort, 'sorting_desc': (orderByField == 'quantityName') && reverseSort}">Quantity Name</th>
                                        <th class="sorting" ng-click="orderByField='quantity'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'quantity') && !reverseSort, 'sorting_desc': (orderByField == 'quantity') && reverseSort}">Quantity (MT)</th>
                                        <th class="sorting" ng-click="orderByField='operationalStatus'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'operationalStatus') && !reverseSort, 'sorting_desc': (orderByField == 'operationalStatus') && reverseSort}">Operational Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in (quantityList | orderBy: orderByField: reverseSort | search:quantitySearchKey:'quantity').slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td class="center">{{item.quantityName}}</td>
                                        <td class="center">{{item.quantity}}</td>
                                        <td class="center">{{item.operationalStatus}}</td>
                                        <td class="center"><a href="#" class="btn btn-primary" title="Change"><span class="glyphicon glyphicon-edit"></span></a>                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                        <p style="margin-top: 7px;">Showing {{((quantityList | search: quantitySearchKey: 'quantity').length == 0 )? 0:((currentPage-1)
                                            * itemsPerPage)+1}} to {{(currentPage * itemsPerPage > ((quantityList | search: quantitySearchKey: 'quantity').length))?
                                            ((quantityList | search: quantitySearchKey:'quantity').length) : currentPage * itemsPerPage}}
                                            0f {{(quantityList | search: quantitySearchKey:'quantity').length }} entries <span ng-show="quantitySearchKey.length > 0">(filtered from {{quantityList.length}} total entries)</span></p>
                                    </div>
                                <div class="col-sm-12 col-md-6">
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" items-per-page="itemsPerPage"
                                        boundary-link-numbers="true" rotate="false"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>