<form name="quantityForm">
    <div ng-controller="QuantityController">
        <section class="Quantity title" style="">
            <div class="row first">
                <div class=" col-12" ng-show="addClicked" id="quantity-save-btns">
                    <h2> <i class="fa fa-map-marker"> </i><span></span><strong> Add  Quantity</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-click="addClicked;saveQuantity(newQuantity)" ng-disabled="quantityForm.$invalid"><i class="fa fa-check"> </i> <span>Save</span></button>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()"> </i> <span>Cancel</span></button>
                        </li>
                    </ul>
                </div>
                <div class=" col-12" style="display: block;" ng-hide="addClicked" id="quantity-add-btns">
                    <h2> <i class="fa fa-map-marker"> </i><span></span><strong> Quantity</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-show="isAddAvailable()" ng-click="addNewQuantity(); 
                            addClicked;
                            quantityForm.name.$touched=false;
                            quantityForm.quantity.$touched=false;
                            quantityForm.status.$touched=false;
                            
                            "><i class="fa fa-plus"> </i> <span>Add</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="Quantity">
            <div class="container">
                <div ng-show="addClicked" id="addQuantity">
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group ">
                                <label>Quantity Name </label>
                                <input class="form-control " name="name" value="" size="35" data-error="Required" required="" type="text">
                                <span ng-show="quantityForm.name.$touched && quantityForm.name.$invalid" class="input-field-errors">Quantity name is required.</span>
                                <span ng-if="errorMessageQuantityName" class="input-field-errors">Quantity name Already Exist!</span></div>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group ">
                            <label>Quantity (MT)  </label>
                            <input class="form-control " name="quantity" value="" size="35" data-error="Required" required="" type="text">
                            <span ng-show="quantityForm.quantity.$touched && quantityForm.quantity.$invalid" class="input-field-errors">Quantity  is required.</span>
                        </div>
                    </div>
                    <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group lname">
                            <label>Operational Status </label>
                            <!-- <select name="status" class="form-control  ">
                <option>Select </option>
                <option>Active</option>
                <option>Inactive</option>
              </select> -->
                            <select name="status" ng-init="newQuantity.status = dropDownValues.status[0]" ng-model="newQuantity.status" class="form-control" required ng-options="item for item in dropDownValues.status">
                                        <option>Select Contractor Type</option>
                                    </select>
                            <span ng-show="quantityForm.status.$touched && quantityForm.status.$invalid" class="input-field-errors">Status  is required.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                    <div class="grid-list">
                        <div class="table-responsive">
                            <table width="100%" class="table table-bordered" data-toggle="table">
                                <thead>
                                    <tr>
                                        <th>Quantity Name</th>
                                        <th>Quantity (MT)</th>
                                        <th>Operational Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in contractorList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                        <td class="center">{{item.quantityName}}</td>
                                        <td class="center">{{item.quantity}}</td>
                                        <td class="center">{{item.status}}</td>
                                        <td class="center"><a href="#" class="btn btn-primary  " data-toggle="modal" data-target=".con1" title="Change"><span class="glyphicon glyphicon-edit"></span></a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>