<form name="contractorForm">
    <div class="modal-content">
        <h2>
            <i class="fa fa-tint" aria-hidden="true"></i> Contractor Details:</h2>
        <div class="modal-body">
            <table cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                    <tr>
                        <td width="50%" align="right">Contractor Name</td>
                        <td width="50%">
                            <input class="form-control" style="width: 50%;" ng-model="$ctrl.contractor.contractorName" name="contractorName" value=""
                                size="35" data-error="Required" required="" type="text">
                            <span ng-show="contractorForm.contractorName.$touched && contractorForm.contractorName.$invalid" class="input-field-errors">Contractor name is required.</span>
                            <span ng-if="$ctrl.errorMessageContractorName" class="input-field-errors">Contractor with contractor name Already Exist!</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Contractor Type</td>
                        <td>
                            <select style="width: 50%;" name="contractorType" ng-model="$ctrl.contractor.contractorType" class="form-control" required
                                ng-options="item for item in $ctrl.dropDownValues.Types">
                                <option value="">Select</option>
                            </select>
                            <span ng-show="contractorForm.contractorType.$touched && contractorForm.contractorType.$invalid" class="input-field-errors">Contractor Type is required.</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Address</td>
                        <td>
                            <input class="form-control address" style="width: 50%;" ng-model="$ctrl.contractor.contractorAddress" size="64" name="contractorAddress"
                                value="" data-error="Required" required="" type="text">
                            <span ng-show="contractorForm.contractorAddress.$touched && contractorForm.contractorAddress.$invalid" class="input-field-errors">Contractor address is required.</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">City</td>
                        <td>
                            <input class="form-control city" style="width: 50%;" ng-model="$ctrl.contractor.contractorCity" size="32" name="contractorCity"
                                value="" data-error="Required" required="" type="text">
                            <span ng-show="contractorForm.contractorCity.$touched && contractorForm.contractorCity.$invalid" class="input-field-errors">Contractor City is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">State</td>
                        <td>
                            <select name="contractorState" style="width: 50%;" ng-model="$ctrl.contractor.contractorState | orderBy" class="form-control" required
                                ng-options="item for item in $ctrl.dropDownValues.States">
                                <option value="">Select</option>
                            </select>
                            <span ng-show="contractorForm.contractorState.$touched && contractorForm.contractorState.$invalid" class="input-field-errors">Contractor State is required.</span>
        </div>
        </td>
        </tr>
        <tr>
            <td align="right">Pin Code</td>
            <td>
                <input class="form-control zip" style="width: 50%;" ng-model="$ctrl.contractor.contractorPinCode" size="5" name="contractorPinCode"
                    value="" type="text" required ng-pattern="/^[0-9]{6}$/ " maxlength="6">
                <span ng-show="contractorForm.contractorPinCode.$touched && contractorForm.contractorPinCode.$invalid" class="input-field-errors">Please enter 6 digit pincode</span>
    </div>
    </td>
    </tr>
    <tr>
        <td align="right">Operational Status</td>
        <td>
            <select style="width: 50%;" name="contractorOperationalStatus" ng-model="$ctrl.contractor.contractorOperationalStatus" class="form-control"
                required ng-options="item for item in $ctrl.dropDownValues.ContractorStatus">
                <option value="">Select</option>
            </select>
            <span ng-show="contractorForm.contractorOperationalStatus.$touched && contractorForm.contractorOperationalStatus.$invalid"
                class="input-field-errors">Status is required.</span>
        </td>
    </tr>
    </tbody>
    </table>
    <table class="buttons" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td style="text-align: right;">
                <span class="hoverMsg">
                    <button class="submit hoverMsg" style="width: 130px;" type="submit" ng-click="$ctrl.update()" ng-disabled="contractorForm.$invalid">
                        <i class="fa fa-check"> </i>
                        <span>Update</span>
                    </button>
                    <br>
                    <span ng-if="contractorForm.$invalid" class="tooltiptext">Please fill all fields</span>
                </span>
            </td>
            <td>
                <button class="cancel" type="button" ng-click="$ctrl.cancel()">
                    <i class="fa fa-remove"> </i>
                    <span>Cancel</span>
                </button>
            </td>
        </tr>
    </table>
    </div>
    </div>
</form>