<div class="modal-content">
    <h2> <i class="fa fa-tint" aria-hidden="true"></i> User Details:</h2>
    <div class="modal-body">
        <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <td width="117" align="right">User Name</td>
                    <td width="473">
                        <input class="form-control" ng-model="$ctrl.user.userName" name="userName" value="" size="35" data-error="Required" required=""
                            type="text" ng-pattern="/^[a-zA-Z]*$/">
                    </td>
                </tr>
                <tr>
                    <td align="right">First Name</td>
                    <td>
                        <input class="form-control" ng-model="$ctrl.user.userFirstName" name="fname" value="" size="35" data-error="Required" required=""
                            type="text">
                    </td>
                </tr>
                <tr>
                    <td align="right">Last Name</td>
                    <td>
                        <input class="form-control lname" ng-model="$ctrl.user.userLastName" name="lname" value="" size="35" data-error="Required" required=""
                            type="text">
                    </td>
                </tr>

                <tr>
                    <td align="right">Date of Birth</td>
                    <td>
                        <date-picker ng-show="showDatepicker" on-date-selected="showDatepicker = false" format-date="formatDate" parse-date="parseDate"
                            ng-model="$ctrl.user.userDOB">
                        </date-picker>
                        <input size="20" class="form-control date" ng-click="showDatepicker = true" ng-model="$ctrl.user.userDOB" name="date" value=""
                            required type="text">
                    </td>
                </tr>

                <tr>
                    <td align="right">Mobile Number</td>
                    <td>
                        <input size="20" class="form-control" ng-model="$ctrl.user.userMobileNum" maxlength="10" name="userMobileNum" value="" required
                            type="text" ng-pattern="/^[1-9]{1}[0-9]{9}$/ ">
                    </td>
                </tr>
                <tr>
                    <td align="right">Aadhaar No</td>
                    <td>
                        <input class="form-control " ng-model="$ctrl.user.userAadharNum" name="userAadharNum" value="" size="35" maxlength="12" data-error="Required"
                            required="" type="text" ng-pattern="/^[0-9]{12}$/ ">
                    </td>
                </tr>

                <tr>
                    <td align="right">User Type</td>
                    <td>
                        <select name="usertype" ng-model="$ctrl.user.userType[0]" class="form-control" required ng-options="item for item in $ctrl.dropDownValues.UserTypes">
                            <option value="">Select User Type</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="right">Status</td>
                    <td>
                        <select name="userStatus" ng-model="$ctrl.user.userStatus" class="form-control" required ng-options="item for item in $ctrl.dropDownValues.UserStatus">
                            <option value="">Select Status</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="right">Password</td>
                    <td>
                        <input class="form-control " ng-model="$ctrl.user.userPassword" name="userPassword" value="" size="35" data-error="Required"
                            required="" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                    </td>
                </tr>

                <tr>
                    <td align="right">Confirm Password</td>
                    <td>
                        <input id="myPassword" class="form-control " ng-model="$ctrl.user.rePassword" name="rePassword" value="" size="35" data-error="Required"
                            required="" type="password" ng-blur="myFunction()">
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="buttons" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td style="text-align: right;">
                    <button class="submit hoverMsg" style="width: 130px;" type="submit" ng-click="$ctrl.update()"><i class="fa fa-check"> </i> <span>Update</span>
                   </button>
                </td>
                <td>
                    <button class="cancel" type="button" ng-click="$ctrl.cancel()"><i class="fa fa-remove"> </i> <span>Cancel</span></button>
                </td>
            </tr>
        </table>
    </div>
</div>