<form name="userForm">
    <div class="modal-content">
        <h2>
            <i class="fa fa-tint" aria-hidden="true"></i> User Details:</h2>
        <div class="modal-body">
            <table cellspacing="0" cellpadding="0" width="100%">
                <tbody>
                    <tr>
                        <td width="50%" align="right">User Name</td>
                        <td width="50%">
                            <input class="form-control" style="width: 50%;" ng-model="$ctrl.user.userName" name="edituserName" value="" size="35" data-error="Required"
                                required="" type="text" ng-pattern="/^[a-zA-Z]*$/" ng-disabled="$ctrl.isNotSuperAdmin()">
                            <span ng-show="userForm.edituserName.$touched && userForm.edituserName.$invalid" class="input-field-errors">User name is required. Enter only alphabets</span>
                            <span ng-if="$ctrl.errorMessageUserName" class="input-field-errors">User name already exist!</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">First Name</td>
                        <td>
                            <input class="form-control" style="width: 50%;" ng-model="$ctrl.user.userFirstName" name="editfname" value="" size="35" data-error="Required"
                                required="" type="text">
                            <span ng-show="userForm.editfname.$touched && userForm.editfname.$invalid" class="input-field-errors">First name is required.</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Last Name</td>
                        <td>
                            <input class="form-control lname" style="width: 50%;" ng-model="$ctrl.user.userLastName" name="editlname" value="" size="35"
                                data-error="Required" required="" type="text">
                            <span ng-show="userForm.editlname.$touched && userForm.editlname.$invalid" class="input-field-errors">Last name is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Password</td>
                        <td>
                            <input class="form-control lname" style="width: 50%;" ng-model="$ctrl.user.userPassword" name="edituserPassword" value=""
                                size="35" data-error="Required" required="" type="password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                            <span ng-show="userForm.edituserPassword.$touched && userForm.edituserPassword.$invalid && !userForm.edituserPassword.$error.pattern" class="input-field-errors">Password is required.</span>
                            <span ng-show="userForm.edituserPassword.$error.pattern" class="input-field-errors">Password should be atleast 8 characters long and should contain one number,one character and
                                one special character.</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Date of Birth</td>
                        <td class="my-datepicker">
                            <input size="20" class="form-control date" style="width: 50%;" uib-datepicker-popup="{{$ctrl.format}}" is-open="showDatepicker"
                                datepicker-options="$ctrl.options" ng-click="showDatepicker = true" ng-model="$ctrl.user.userDOB"
                                name="editdate" value="" required type="text">
                            <span ng-show="userForm.editdate.$touched && userForm.editdate.$invalid" class="input-field-errors">Please enter valid date(yyyy-mm-dd).</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Mobile Number</td>
                        <td>
                            <input size="20" class="form-control" style="width: 50%;" ng-model="$ctrl.user.userMobileNum" maxlength="10" name="edituserMobileNum"
                                value="" required type="text" ng-pattern="/^[1-9]{1}[0-9]{9}$/ ">
                            <span ng-show="userForm.edituserMobileNum.$touched && userForm.edituserMobileNum.$invalid && !userForm.edituserMobileNum.$error.pattern"
                                class="input-field-errors">Please enter 10 digit mobile number.</span>
                            <span ng-show="userForm.edituserMobileNum.$error.pattern" class="input-field-errors">Invalid Mobile Number</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Aadhaar No</td>
                        <td>
                            <input class="form-control" style="width: 50%;" ng-model="$ctrl.user.userAadharNum" name="edituserAadharNum" value="" size="35"
                                maxlength="12" data-error="Required" required="" type="text" ng-pattern="/^[0-9]{12}$/ ">
                            <span ng-show="userForm.edituserAadharNum.$touched && userForm.edituserAadharNum.$invalid && !userForm.edituserAadharNum.$error.pattern"
                                class="input-field-errors">Please enter Aadhar number.</span>
                            <span ng-show="userForm.edituserAadharNum.$error.pattern" class="input-field-errors">Invalid Aadhar Number</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">User Type</td>
                        <td>
                            <select style="width: 50%;" name="editusertype" ng-model="$ctrl.user.userType[0]" class="form-control" required ng-options="item for item in $ctrl.dropDownValues.UserTypes">
                                <option value="">Select User Type</option>
                            </select>
                            <span ng-show="userForm.editusertype.$touched && userForm.editusertype.$invalid" class="input-field-errors">User type is required.</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="right">Status</td>
                        <td>
                            <select style="width: 50%;" name="edituserStatus" ng-model="$ctrl.user.userStatus" class="form-control" required ng-options="item for item in $ctrl.dropDownValues.UserStatus">
                                <option value="">Select Status</option>
                            </select>
                            <span ng-show="userForm.edituserStatus.$touched && userForm.edituserStatus.$invalid" class="input-field-errors">User Status is required.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="buttons" cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td style="text-align: right;">

                        <span class="hoverMsg">
                            <button class="submit" style="width: 130px;" type="submit" ng-click="$ctrl.update()" ng-disabled="userForm.$invalid">
                                <i class="fa fa-check"> </i>
                                <span>Update</span>
                            </button>
                            <br>
                            <span ng-if="userForm.$invalid" class="tooltiptext">Please fill all fields</span>
                        </span>
                    </td>
                    <td>
                        <button class="cancel" type="button" ng-click="$ctrl.cancel()">
                            <i class="fa fa-remove"> </i>
                            <span>Cancel</span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>