<form name="contractorForm">
    <div ng-controller="ContractorsController">
        <section class="Contractors title" style="">
            <div class="row first">
                <div class=" col-12" ng-show="addClicked" id="contractor-save-btns">
                    <h2> <i class="fa fa-user-secret"> </i><span></span><strong>Add Contractor</strong></h2>
                    <ul class="buttons">
                        <li class="hoverMsg">
                            <button class="submit " type="button" ng-click="addClicked;saveContractor(newContractor)" ng-disabled="contractorForm.$invalid"><i class="fa fa-check"> </i> <span>Save</span></button>
                            <span ng-if="contractorForm.$invalid" class="tooltiptext">Please fill all fields</span>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()"><i class="fa fa-remove"> </i> <span>Cancel</span></button>
                        </li>
                    </ul>
                </div>
                <div class="col-12" style="display: block;" ng-hide="addClicked" id="contractor-add-btns">
                    <h2> <i class="fa fa-user-secret"> </i><span></span><strong>Contractors</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" type="button" ng-show="isAddAvailable()" ng-click="addNewContractor();
                            contractorForm.contractorName.$touched=false;
                            contractorForm.contractorType.$touched=false;
                            contractorForm.contractorAddress.$touched=false;
                            contractorForm.contractorOperationalStatus.$touched=false;
                            contractorForm.contractorPinCode.$touched=false;
                            contractorForm.contractorCity.$touched=false;
                            contractorForm.contractorState.$touched=false;
                            "><i class="fa fa-plus"> </i> <span>Add</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="Contractors">
            <div class="container">
                <div ng-show="addClicked" id="addContractor">
                    <div ng-show="addClicked" class="row" style="padding-left: 15px;"> <span class="mandatory-fields"> *</span> Fields are mandatory.</div>
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Contractor Name </label> -->
                                        <span class="mandatory-fields"> <label>Contractor Name</label>*</span>
                                        <input class="form-control" ng-model="newContractor.contractorName" name="contractorName" value="" size="35" data-error="Required" required="" type="text">
                                        <span ng-show="contractorForm.contractorName.$touched && contractorForm.contractorName.$invalid" class="input-field-errors">Contractor name is required.</span>
                                        <span ng-if="errorMessageContractorName" class="input-field-errors">Contractor with contractor name Already Exist!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Contractor Type </label> -->
                                        <span class="mandatory-fields"> <label>Contractor Type </label>*</span>
                                        <select name="contractorType" ng-init="newContractor.contractorType = dropDownValues.Types[0]" ng-model="newContractor.contractorType" class="form-control" required ng-options="item for item in dropDownValues.Types">
                                            <option value="">Select</option>
                                        </select>
                                        <span ng-show="contractorForm.contractorType.$touched && contractorForm.contractorType.$invalid" class="input-field-errors">Contractor Type is required.</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="row  ">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group ">
                                        <!-- <label>Operational Status </label> -->
                                        <span class="mandatory-fields"> <label>Operational Status </label>*</span>
                                        <select name="contractorOperationalStatus" ng-model="newContractor.contractorOperationalStatus" class="form-control" required ng-options="item for item in dropDownValues.ContractorStatus">
                                            <option value="">Select</option>
                                        </select>
                                        <span ng-show="contractorForm.contractorOperationalStatus.$touched && contractorForm.contractorOperationalStatus.$invalid" class="input-field-errors">Status is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group address">
                                <!-- <label>Address <span class="req">*</span></label> -->
                                <span class="mandatory-fields"> <label>Address</label>*</span>
                                <input class="form-control address" ng-model="newContractor.contractorAddress" size="64" name="contractorAddress" value="" data-error="Required" required="" type="text">
                                <span ng-show="contractorForm.contractorAddress.$touched && contractorForm.contractorAddress.$invalid" class="input-field-errors">Contractor address is required.</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group city">
                                <!-- <label>City <span class="req">*</span></label> -->
                                <span class="mandatory-fields"> <label>City</label>*</span>
                                <input class="form-control city" ng-model="newContractor.contractorCity" size="32" name="contractorCity" value="" data-error="Required" required="" type="text">
                                <span ng-show="contractorForm.contractorCity.$touched && contractorForm.contractorCity.$invalid" class="input-field-errors">Contractor City is required.</span>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group state">
                                <!-- <label>State <span class="req">*</span></label> -->
                                <span class="mandatory-fields"> <label>State</label>*</span>
                                <select name="contractorState" ng-init="newContractor.contractorState = dropDownValues.States[0]" ng-model="newContractor.contractorState" class="form-control" required ng-options="item for item in dropDownValues.States | orderBy">
                                    <option value="">Select</option>
                                </select>
                                <span ng-show="contractorForm.contractorState.$touched && contractorForm.contractorState.$invalid" class="input-field-errors">Contractor State is required.</span> </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group zip">
                                <!-- <label>Zip Code <span class="req">*</span></label> -->
                                <span class="mandatory-fields"> <label>Pin Code </label>*</span>
                                <input class="form-control zip" ng-model="newContractor.contractorPinCode" size="5" name="contractorPinCode" value="" type="text" required ng-pattern="/^[0-9]{6}$/ " maxlength="6">
                                <span ng-show="contractorForm.contractorPinCode.$touched && contractorForm.contractorPinCode.$invalid" class="input-field-errors">Please enter 6 digit  pincode</span> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
                        <div class="grid-list">
                            <div class="table-responsive">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 select-div">
                                        <label>Show
                                            <select ng-model="viewby" convert-to-number ng-change="setItemsPerPage(viewby)" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                            <option value="100">100</option>
                                            </select>
                                            entries
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 search-div">
                                        <label>Search:<input type="search" class="form-control form-control-sm" ng-model="contractorsSearchKey" placeholder=""></label>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered dataTable" data-toggle="table">
                                    <thead>
                                        <tr>
                                            <th class="sorting" ng-click="orderByField='contractorName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorName') && !reverseSort, 'sorting_desc': (orderByField == 'contractorName') && reverseSort}">Contractor Name</th>
                                            <th class="sorting" ng-click="orderByField='contractorType'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorType') && !reverseSort, 'sorting_desc': (orderByField == 'contractorType') && reverseSort}">Contractor Type</th>
                                            <th class="sorting" ng-click="orderByField='contractorAddress'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorAddress') && !reverseSort, 'sorting_desc': (orderByField == 'contractorAddress') && reverseSort}">Address</th>
                                            <th class="sorting" ng-click="orderByField='contractorCity'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorCity') && !reverseSort, 'sorting_desc': (orderByField == 'contractorCity') && reverseSort}">City</th>
                                            <th class="sorting" ng-click="orderByField='contractorState'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorState') && !reverseSort, 'sorting_desc': (orderByField == 'contractorState') && reverseSort}">State</th>
                                            <th class="sorting" ng-click="orderByField='contractorPinCode'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorPinCode') && !reverseSort, 'sorting_desc': (orderByField == 'contractorPinCode') && reverseSort}">Pin Code</th>
                                            <th class="sorting" ng-click="orderByField='contractorOperationalStatus'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'contractorOperationalStatus') && !reverseSort, 'sorting_desc': (orderByField == 'contractorOperationalStatus') && reverseSort}">Operational Status</th>
                                            <th class="sorting" ng-click="orderByField='createdBy'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'createdBy') && !reverseSort, 'sorting_desc': (orderByField == 'createdBy') && reverseSort}">Created By</th>
                                            <th class="sorting" ng-click="orderByField='createdOn'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'createdOn') && !reverseSort, 'sorting_desc': (orderByField == 'createdOn') && reverseSort}">Created On</th>
                                            <th class="sorting" ng-click="orderByField='updatedBy'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'updatedBy') && !reverseSort, 'sorting_desc': (orderByField == 'updatedBy') && reverseSort}">Updated By</th>
                                            <th class="sorting" ng-click="orderByField='updatedOn'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'updatedOn') && !reverseSort, 'sorting_desc': (orderByField == 'updatedOn') && reverseSort}">Updated On</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in (contractorList | orderBy: orderByField: reverseSort | search:contractorsSearchKey:'contractors').slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td class="center">{{item.contractorName}}</td>
                                            <td class="center">{{item.contractorType}}</td>
                                            <td class="center">{{item.contractorAddress}}</td>
                                            <td class="center">{{item.contractorCity}}</td>
                                            <td class="center">{{item.contractorState}}</td>
                                            <td class="center">{{item.contractorPinCode}}</td>
                                            <td class="center">{{item.contractorOperationalStatus}}</td>
                                            <td class="center">{{item.contractorCreatedBy}}</td>
                                            <td class="center">{{item.contractorCreatedOn}}</td>
                                            <td class="center">{{item.contractorUpdatedBy}}</td>
                                            <td class="center">{{item.contractorUpdatedOn}}</td>
                                            <td class="center"><a class="btn btn-primary" ng-click="openEditModal('lg', item)" title="Change"><span class="glyphicon glyphicon-edit"></span></a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p style="margin-top: 7px;">Showing {{((contractorList | search:contractorsSearchKey:'contractors').length == 0 )? 0:((currentPage-1) * itemsPerPage)+1}} to {{(currentPage * itemsPerPage > ((contractorList | search:contractorsSearchKey:'contractors').length))?
                                            ((contractorList | search:contractorsSearchKey:'contractors').length) : currentPage * itemsPerPage}} 0f {{(contractorList | search:contractorsSearchKey:'contractors').length }} entries <span ng-show="contractorsSearchKey.length > 0">(filtered from {{contractorList.length}} total entries)</span></p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" class="pagination-sm pagination" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>