<form name="myForm">
    <div ng-controller="BayController">
        <section class="bay title">
            <div class="row first">

                <div class=" col-12" ng-show="addClicked" id="bay-save-btns">

                    <h2> <i class="fa fa-tint" aria-hidden="true"> </i><span></span><strong> Add  Bay</strong></h2>
                    <ul class="buttons">
                        <li class="hoverMsg">
                            <button class="submit " type="submit" ng-click="saveBay(newBay);" ng-disabled="myForm.$invalid"><i class="fa fa-check"> </i> <span>Save</span>
                           </button>
                            <span ng-if="myForm.$invalid" class="tooltiptext">Please fill all fields</span>
                        </li>
                        <li>
                            <button class="cancel" type="button" ng-click="onCancel()"><i class="fa fa-remove"> </i> <span>Cancel</span></button>
                        </li>
                    </ul>
                </div>
                <div class="col-12" style="display: block;" ng-hide="addClicked" id="bay-add-btns">
                    <h2> <i class="fa fa-tint"> </i><span></span><strong> Bay</strong></h2>
                    <ul class="buttons">
                        <li>
                            <button class="submit" ng-show="isAddAvailable()" ng-click="addNewBay(); 
                            myForm.bayName.$touched=false;
                            myForm.bayNum.$touched=false;
                            myForm.bayType.$touched=false;
                            myForm.bayStatus.$touched=false;" type="button"><i class="fa fa-plus"> </i> <span>Add</span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="bay">
            <div class="container">
                <div class="" id="addBay">
                    <div ng-show="addClicked" class="row" style="padding-left: 15px;"> <span class="mandatory-fields"> *</span> Fields are mandatory.</div>
                    <div ng-show="addClicked" class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <div class="form-group ">
                                        <span class="mandatory-fields"> <label>Bay Name </label>*</span>
                                        <input class="form-control" ng-model="newBay.bayName" name="bayName" value="" size="35" data-error="Required" required="" type="text" ng-trim="false" ng-pattern=/^[0-9a-zA-Z]*$/>
                                        <span ng-show="myForm.bayName.$touched && myForm.bayName.$invalid" class="input-field-errors">Bay name should consists only alphabets.</span>
                                        <span ng-if="errorMessageBayName" class="input-field-errors">Bay name already exist!</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group ">
                                        <span class="mandatory-fields">   <label>Bay Number </label>*</span>
                                        <!--<input class="form-control " name="" value="" size="35" data-error="Required" required="" type="text">-->
                                        <input class="form-control" ng-model="newBay.bayNum" name="bayNum" value="" maxlength="2" size="35" data-error="Required" required="" type="text" ng-pattern=/^[0-9]*$/>
                                        <span ng-show="myForm.bayNum.$touched && myForm.bayNum.$invalid" class="input-field-errors">Bay number is required(0 - 99).</span>
                                        <span ng-if="errorMessageBayNum" class="input-field-errors">Bay number already exist!</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group lname">
                                        <span class="mandatory-fields">   <label>Bay Type </label>*</span>
                                        <select name="bayType" ng-model="newBay.bayType" ng-options="item for item in dropDownValues.bayTypes" class="form-control" required>
                                            <option value="">Select </option>
                                        </select>
                                        <span ng-show="myForm.bayType.$touched && myForm.bayType.$invalid" class="input-field-errors">Bay type is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-12 col-md-4 col-lg-4">
                            <div class="row nobdr">
                                <div class=" col-12 col-sm-12">
                                    <div class="form-group lname">
                                        <span class="mandatory-fields">  <label>Functional Status </label>*</span>
                                        <select name="bayStatus" ng-model="newBay.functionalStatus" ng-options="item for item in dropDownValues.bayStatus" class="form-control" required>
                                            <option value="">Select </option>
                                        </select>
                                        <span ng-show="myForm.bayStatus.$touched && myForm.bayStatus.$invalid" class="input-field-errors">Functional status is required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">

                        <div class="grid-list">
                            <div class="table-responsive">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 select-div">
                                        <label>Show
                                            <select ng-model="viewby" convert-to-number ng-change="setItemsPerPage(viewby)" class="form-control form-control-sm">
                                                <option value=10>10</option>
                                                <option value=25>25</option>
                                                <option value=50>50</option>
                                                <option value=100>100</option>
                                            </select>
                                            entries
                                        </label>
                                    </div>
                                    <div class="col-sm-12 col-md-6 search-div">
                                        <label>Search:<input type="search" class="form-control form-control-sm" ng-model="baySearchKey" placeholder=""></label>
                                    </div>
                                </div>
                                <table width="100%" class="table table-bordered dataTable">
                                    <thead>
                                        <tr>
                                            <th class="sorting" ng-click="orderByField='bayName'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'bayName') && !reverseSort, 'sorting_desc': (orderByField == 'bayName') && reverseSort}">Bay Name</th>
                                            <th class="sorting" ng-click="orderByField='bayNum'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'bayNum') && !reverseSort, 'sorting_desc': (orderByField == 'bayNum') && reverseSort}">Bay Number</th>
                                            <th class="sorting" ng-click="orderByField='bayType'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'bayType') && !reverseSort, 'sorting_desc': (orderByField == 'bayType') && reverseSort}">Bay Type</th>
                                            <th class="sorting" ng-click="orderByField='functionalStatus'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'functionalStatus') && !reverseSort, 'sorting_desc': (orderByField == 'functionalStatus') && reverseSort}">Functional Status</th>
                                            <th class="sorting" ng-click="orderByField='createdBy'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'createdBy') && !reverseSort, 'sorting_desc': (orderByField == 'createdBy') && reverseSort}">Created By</th>
                                            <th class="sorting" ng-click="orderByField='createdOn'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'createdOn') && !reverseSort, 'sorting_desc': (orderByField == 'createdOn') && reverseSort}">Created On</th>
                                            <th class="sorting" ng-click="orderByField='updatedBy'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'updatedBy') && !reverseSort, 'sorting_desc': (orderByField == 'updatedBy') && reverseSort}">Updated By</th>
                                            <th class="sorting" ng-click="orderByField='updatedOn'; reverseSort = !reverseSort" ng-class="{'sorting_asc': (orderByField == 'updatedOn') && !reverseSort, 'sorting_desc': (orderByField == 'updatedOn') && reverseSort}">Updated On</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="bay in (bayItems | orderBy: orderByField: reverseSort | search:baySearchKey:'bay').slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td class="center">{{bay.bayName}}</td>
                                            <td class="center">{{bay.bayNum}}</td>
                                            <td class="center">{{bay.bayType}}</td>
                                            <td class="center">{{bay.functionalStatus}}</td>
                                            <td class="center">{{bay.bayCreatedBy}}</td>
                                            <td class="center">{{bay.bayCreatedOn}}</td>
                                            <td class="center">{{bay.bayUpdatedBy}}</td>
                                            <td class="center">{{bay.bayUpdatedOn}}</td>
                                            <td class="center"><a class="btn btn-primary" ng-click="openEditModal('lg', bay)" ><span class="glyphicon glyphicon-edit"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <p style="margin-top: 7px;">Showing {{((bayItems | search:baySearchKey:'bay').length == 0 )? 0:((currentPage-1) * itemsPerPage)+1}} to {{(currentPage * itemsPerPage > ((bayItems | search:baySearchKey:'bay').length))? ((bayItems | search:baySearchKey:'bay').length)
                                            : currentPage * itemsPerPage}} 0f {{(bayItems | search:baySearchKey:'bay').length }} entries <span ng-show="baySearchKey.length > 0">(filtered from {{bayItems.length}} total entries)</span></p>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <ul uib-pagination total-items="(bayItems | search:baySearchKey:'bay').length" ng-model="currentPage" class="pagination-sm pagination" items-per-page="itemsPerPage" boundary-link-numbers="true" rotate="false"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>