.mandatory-fields {
    color: red;
}

.mandatory-fields>label {
    display: inline-block;
}

.input-field-errors {
    color: red;
}

.errorFlaglogin {
    text-align: center;
}

.seePwd {
    position: absolute;
    top: 50%;
    /* float: right; */
    left: 90%;
}