.mandatory-fields {
    color: red;
}

.mandatory-fields>label {
    display: inline-block;
}

.input-field-errors {
    color: red;
    font-size: 12px;
    display: block;
}
.input-field-msg {
    color: green;
    font-size: 12px;
    display: block;
}

.errorFlaglogin {
    text-align: center;
}

.seePwd {
    position: absolute;
    top: 50%;
    /* float: right; */
    left: 90%;
}

.edit-delete-icon {
    width: 30px;
    height: 30px;
    padding: 0px;
}